.header {
	
	height:111px;

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}

// Logo
	#logo {
		
		p {
			
		}
	}

// Header Nav
	.navbar {		
		li {
			
			a {
					
			}
		}		
	}
	small {
		font-family: 'open_sansbold';
	}

// Header Cos
	.cos {
		
		background-position: 0px 2px;
		background-repeat: no-repeat;
		display: block;
	}

// Produse Index
	.produse {
		
	}

// Search Form
	.navbar-form {
		
		
		
	}
}