.main-nav {
	background: url("../img/eurobike/nav-bg.jpg") repeat-x top left;
	border-top:1px solid #999999;
	ul{
		
		li {
			display:inline-block !important;
			a{
				&:after {
					background: url("../img/eurobike/menu-arrow.png") no-repeat center right;					
				}
			}
			ul {
				border-radius:0 !important;
			}
		}
	}

}