.breadcrumbs {
	font-size: 12px;
	line-height: 36px;
	padding-left: 20px;
	border-bottom: 1px solid #DDDDDD;
	background-color: #fff;
	margin-bottom:0;
	color: $breadcrumb;	
	
	ul {
		margin:0 0 0 -10px; 
		padding:0;
		li {
			display:inline-block;
			list-style-type:none;
			color: $breadcrumb-hover ;
			a {
				color: #000 !important;
				text-decoration: none;
				text-transform:capitalize;
				margin:0 5px;
				display:inline-block;
				font-family: "Open Sans", Verdana, sans-serif;
				&:hover {
					text-decoration: none;
					color: #0063BE;
				}	
				&:active {
					color: #0063BE;
				}	
			}
		}
	}		
	
}