#general-page {	
	padding:0;
	.wrap {
		background-color: #fff;
		padding: 20px 0;
		margin-bottom: 0;
	}

	h1 {
		font-size: 30px;
		font-weight: 700;
		color: #BABABA;
		padding: 10px 0px 10px 0;
		margin: 10px 0px 0px 0px;
	}
	h4 {
		font-size: 14px;
		font-weight: 700;
		color: #000000;
		padding: 10px 0 0 0;
		margin: 10px 0 0 0;
	}
	p {
		font-size: 12px;
		color: #000;
		padding:0;
		margin:10px 0 0 0;
		line-height: 1.5;
	}

}
.modal-body {
	.first-paragraph {
		h4 {
			font-size: 14px;
			font-weight: 700;
			color: #000000;
			padding: 10px 0 0 0;
			margin: 10px 0 0 0;
		}
		p {
			font-size: 12px;
			color: #000;
			padding:0;
			margin:5px 0 0 0;
			line-height: 1.5;
		}
	}
}
.post-page {
	background-color: #fff;
}
.articole-list {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	
}

.post-item {	
	padding-bottom: 15px;
	padding-top: 15px;
	h1 {
		margin: 0px;
		margin-bottom: 5px;
		display: inline-block;
	}
	.post-date {
		// display: inline;
		margin-left: 0px;
		color: #aaa;
		margin-bottom: 5px;
	}
	a {
		color: #000;
	}
}
.post-list {	
	h3 {
		display: inline-block;
		margin-bottom: 5px;
		margin-top: 0px;
		font-size: 24px;
		a {
			color: #000;
			&:hover {
				text-decoration: none;
			}
		}		
	}
	.post-summary {
		p {
			margin: 0px 0px 10px;
		}
	}
	.post-date {
		color: #aaa;
		// display: inline;
		font-size: 10px;
		margin: 0px 0px 5px;
	}
	.post-short {
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
	}
	.btn-read-more {		
		&:hover {
			color: #000;
			text-decoration: none;
			.fa {
				margin-left: 10px;
				color: #428bca;
			}
		}
		.fa {
			transition: all 0.2s ease-in;
			font-size: 8px;
			margin-left: 4px;
			vertical-align: middle;
			color: #000;
		}
	}
}
.btn-read-more {
	color: #428bca;
	display: inline-block;
}

.tags, .categories {
  font-size: 12px;
  color: #aaa;
}
.tags p, .categories p {
  display: inline;
}
.tags a, .categories a {
  color: #0063BE;
  font-weight: 600;
}
.tags p:last-child span, .categories p:last-child span {
  display: none;
}
.categories {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
}